<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者プロフィール画面</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/btn.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/store/detail.css}">
</head>
<body>
<div th:insert="include/header"></div>
<div class="container">
    <div class="row contents">
        <div class="col-lg-8 offset-lg-2 content">
            <h2 class="text-center mb-4">店舗情報</h2>
            <table class="table store-table mt-5">
                <tbody>
                <tr>
                    <th scope="row">店舗名</th>
                    <td th:text="${store.getName()}"></td>
                </tr>
                <tr>
                    <th scope="row">住所</th>
                    <td th:text="${store.getAddress()}"></td>
                </tr>
            </table>
            <div class="text-center mt-5">
                <a th:href="@{/store/edit}" class="btn btn-green">店舗情報の編集</a>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/header.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
