body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 40px auto 0;
}

.content {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #dee2e6;
}

.table th {
    background-color: #00A78D;
    color: #ffffff;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.pagination {
    justify-content: center;
    padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .nav-menu {
        width: 100%;
    }

    header {
        padding: 0 20px;
    }
}
