body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    margin-top: 130px;
}

.contents {
    height:60vh;
}

.content {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group {
    margin-bottom: 20px;
}

.btn-green, .btn-secondary {
    margin: 0 10px;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}
